body{
   background-color: aqua;
}
ul{
    background-color: white;
    color: rgb(247, 0, 255);
    display: flex;
    gap: 20px;
    height: 100px;
    align-items: center;
    font-weight: bold;
    border-radius: 15PX;
    
}
li{
    margin: 0 auto;
    font-size: large;
    align-items: center;
    transition: 1s;
}
li:hover{
    color: chartreuse;
    
}